@import './reset.css';

body {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  height: 100%;
}

.scroll-off {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 25rem;
  height: 100%;
  align-items: start;
}

.projects {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 25px;
}

.sidebar-wrapper {
  position: relative;
  height: 100%;
  margin: 25px;
}

.sidebar {
  border-radius: 15px;
  position: sticky;
  overflow-y: auto;
  height: calc(100vh - 50px);
  min-height: 300px;
  max-height: 1000px;
  top: 25px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  border: 3px solid #bbbbbbb3;
  padding: 20px 30px 30px;
}

.sidebar-input,
.modal-input {
  font-size: 1.5rem;
  border: 1px solid #adadadd6;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  max-width: 85%;
  font-weight: 700;
  position: relative;
}

.sidebar-textarea,
.modal-textarea {
  font-size: 0.9rem;
  resize: none;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}

.sidebar-input:invalid {
  border: 1px solid red;
}

.sidebar-top,
.modal-top {
  display: flex;
  align-items: center;
}

.sidebar-top {
  justify-content: space-between;
}

.sidebar-top_error {
  flex-direction: column;
  align-items: start;
}

.error {
  color: red;
}

.sidebar-title__text {
  text-wrap: pretty;
  max-width: 85%;
}

.sidebar-edit-icon svg,
.modal-edit-icon svg {
  fill: #adadadd6;
  opacity: 0.5;
  transition: opacity 0.1s ease;
  cursor: pointer;
}

.modal-top .modal-edit-icon {
  margin-left: auto;
}

.sidebar-top:hover .sidebar-edit-icon svg,
.modal-top:hover .modal-edit-icon svg {
  opacity: 1;
}

.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
  overflow: auto;
}

.sidebar-description,
.modal-description {
  margin-top: 0.2rem;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}

.sidebar-description__button,
.modal-description__button {
  border: none;
  background-color: transparent;
  color: #0e0e0e;
  opacity: 0.3;
  padding-left: 10px;
  transition: opacity 0.1 ease;
}

.sidebar-description__button:hover,
.modal-description__button:hover {
  opacity: 1;
}

.sidebar-todo {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.1s ease;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.sidebar-todo:hover {
  background-color: #c6c6c6d6;
}

.sidebar-empty {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sidebar-icon svg,
.project-card__icon svg {
  width: 100px;
  height: 100px;
  fill: #bbbbbbb3;
}

.sidebar-actions,
.modal-actions {
  display: flex;
  gap: 0.5rem;
  border-top: 1px solid #dbdbdbd6;
  padding-top: 30px;
}

.sidebar-actions button,
.modal-actions button {
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.sidebar-actions button:hover,
.modal-actions button:hover {
  cursor: pointer;
}

.sidebar-save,
.modal-save {
  flex-basis: 45%;
  background-color: rgb(99, 202, 99);
  border: 3px solid rgb(0, 0, 0, 0.1);
  color: white;
}

.sidebar-actions button:active,
.modal-actions button:active {
  transform: translateY(2px);
}

.sidebar-save:disabled,
.sidebar-cancel:disabled,
.modal-save:disabled,
.modal-cancel:disabled {
  background-color: #d6d6d6d6;
  border: 3px solid rgb(0, 0, 0, 0.1);
  color: rgb(177, 177, 177);
}

.sidebar-cancel,
.modal-cancel {
  flex-basis: 55%;
  background-color: #d6d6d6d6;
  border: 3px solid rgb(0, 0, 0, 0.1);
  color: rgb(72, 72, 72);
}

.project-create:hover .project-card__icon svg,
.project-create:hover .project-create__title {
  fill: #adadadd6;
  color: #adadadd6;
}

.sidebar-title_null,
.project-create__title {
  color: #bbbbbbb3;
}

.project-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 0.5rem;
  height: 20rem;
  cursor: pointer;
  border: 3px solid rgb(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.project-card.highlighted {
  border: 3px solid rgb(71, 132, 255);
  cursor: default;
}

.project-card__description {
  font-size: 0.9rem;
  line-height: 1.25;
}

.project-card__todos {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.project-card__todo {
  margin-left: 2rem;
  text-wrap: nowrap;
  font-size: 0.95rem;
  font-weight: 500;
}

.project-create {
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 3px solid #bbbbbbb3;
}

.project-create:hover {
  cursor: pointer;
  border: 3px solid #adadadd6;
}

.modal-wrapper {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 15px;
  padding: 1rem 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-description {
  margin-top: 0.2rem;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}

.modal-checkbox {
  margin-right: 5px;
}

.todo-done {
  text-decoration: line-through;
}
